@import url(reset.css);
:root {
  --primary: #4E598C;
  --secondary: #F9C784;
  --tertiary: #FF8C42;
  --white: rgb(250, 245, 239);
  --background-color: rgb(226, 220, 220);
}
* {
  border: 1px solid rgb(8, 72, 129);
  font-family: Roboto, sans-serif;
}
body {font-size: 85%;height:100%}
html {
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  text-align: center;
  height: 100%;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--primary);
  color: white;
}
.sidebar * {
  background-color: inherit;
  color: inherit;
}
.sidebar .header {
  display: grid;
  
  grid-template-columns: 40px 1fr;
  margin-left: 10px;
  margin-top: 10px;
  gap: 10px;
}
.sidebar .header * {
  align-self: center;
  justify-self: start;
}

.nav-items {
  display: grid;
  gap: 10px;
}

a > * {
  font-size: medium;
}
a {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-left: 10px;
  list-style: none;
  align-items: start;
  
}
a > :nth-child(2) {
  align-self:  start;
  text-align: left;
  padding-left: 6px;
}
nav-items {
  display: grid;
  padding: 0;
}

i {
  padding: 3px;
  margin: 0 6px;
}

/* main */
.main {
  margin-top: 2px;
  display: grid;
  grid-template-rows: 50px 70px 1fr;
}
.main .search {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 40px minmax(200px, 1fr) 40px 40px 125px;
  margin-right: 10px;
}
input.searchbar {
  align-self: center;
  justify-self: start;
  width: 100%;
  max-width: 400px;
  background-color: rgb(219, 220, 214);
  border-radius: 1em;
  padding: 2px 15px;
  height: 25px;
  margin: 9px 6px 9px 0px;

}

.btn-symbol {
  cursor: pointer;
  border: none; /* Remove borders */
  padding: 0px 0px; /* No padding */
}
.profilepic {
  display: grid;
  padding: 4px;
  justify-items: end;
}
.profilepic img {
  align-self: center;
}
.name {
  font-weight: 800;
  justify-self: center;
  align-self: center;
}

/* hellobar row2 */
.hellobar {
  display: grid;
  grid-template-columns: 60px 1fr 250px;
  margin-right: 10px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.hellobar .hithere {
  align-items: start;
}

.hithere > * {
  text-align: left;
}

.hellobar > * {
  align-self: center;
}

.hellobar .profilepic {
  padding: 10px;
  width: auto;
}
.profilepic2 {
  object-fit: contain;
  max-width: 50px;
}

.hithere {
  display: grid;
}
.hithere * {
  align-self: center;
}

.btn {
  background-color: var(--primary);
  color: white;
  border: 0px;
  border-radius: 0.9rem;
  font-size:small;
  padding: 2px 20px;
  margin: 2px;
  cursor: pointer;

}

/* projects */
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--background-color);
}
.projects {
  background-color: inherit;
  display: grid;
  grid-template-rows: 25px 1fr;
  margin: 20px;
}
.projects p {
  align-self: end;
  justify-self: left;

  text-align: left;
  padding: 4px;
  background-color: inherit;
  font-weight:600;
  font-size: 0.98rem;
}

.content .projects .projects-2column-card {
  display: grid;
  gap: 10px;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: inherit;
}

.project {
  border-radius: 0.9rem;
  border: 0px;
  background-color: var(--white);
  height: clamp(80 125px 250px);
  padding: 6px;
  gap: 6px;
  display: grid;
  grid-template-rows: 30px 1fr 25px;
  justify-items: start;

    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  /* add border color */
   border-left: 8px solid var(--tertiary);
}
.project * {
  background-color: var(--white);
}

/* On mouse-over, add a deeper shadow */
.project:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.project .title {
  margin-top: 5px;
  font-weight: bold;
  background-color: var(--white);
}
.project-content {
  font-size: smaller;
  text-align: left;
  background-color: var(--white);
}

.project-controls {
  display: grid;
  justify-content: end;
  width: 100%;
  margin-left: auto;
  gap: 0px;
  grid-template-columns: repeat(3, 30px);
   background-color: inherit;
}

/* rightbar */
.rightbar {
  display: grid;
  background-color: var(--background-color);
  grid-auto-rows: max-content;
}

.rightbar .section {
  display: grid;
  grid-auto-rows: max-content;
  gap: 10px;
  text-align: left;
  font-size: 0.7rem;
  border-radius: 1rem;
  padding: 8px;
}

.card {
  background-color: var(--white);
  margin: 5px;
  padding: 5px;
}