@import url(reset.css);

* {
  border: 1px solid rgb(8, 72, 129);
  background-color:aliceblue;
  font-family: Roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  text-align: center;
}


.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgb(27, 156, 255);
  color: white;
}
.sidebar * {
  background-color: inherit;
  color: inherit;
}
.sidebar .header {
  display: grid;
  
  grid-template-columns: 40px 1fr;
  padding-left: 20px;
  margin-top: 20px;
}
.sidebar .header > * {
  align-self: center;
  justify-self: center;
}

.nav-items {
  display: grid;
  gap: 10px;
}

a > * {
  font-size: large;
}
a {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding-left: 20px;
  list-style: none;
  align-items: start;
  
}
a > :nth-child(2) {
  align-self:  start;
  text-align: left;
  padding-left: 10px;
}
nav-items {
  display: grid;
  padding: 0;
}

i {
  padding: 3px;
  margin: 0 6px;
}

.main .search {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 50px 30px 100px
}

.hellobar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.content .projects {
  display: grid;
  height: 400px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.rightbar {
  display: grid;

}