@import url(reset.css);

* {
  border: 1px solid rgb(8, 72, 129);
  background-color:aliceblue;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  text-align: center;
}


.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar .nav1 ul, 
.sidebar .nav1 li {
  display: grid;
  gap: 10px;
}

.sidebar .nav2 ul, 
.sidebar .nav2 li {
  display: grid;
  gap: 10px;
}

.main .search {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 50px 30px 100px
}

.hellobar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.content .projects {
  display: grid;
  height: 400px;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.rightbar {
  display: grid;
  
}